@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');

.heading {
width: 90%;
height: 56.49px;
/* left: 12px; */
right: 0%;
top: 20%;

font-family: 'Old Standard TT';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 64px;
letter-spacing: 0.05em;

color: #B58152;
}
.services-page{
    margin-left: 9%;
}
.service-p {
width: 90%;
height: 83.73px;
/* left: 18px; */
top: 316.77px;
margin-bottom: 7%;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;

color: #555555;
}

.offers-div{
width: 90%;
margin-top: 7%;
margin-bottom: 7%;
display: flex;
border-radius: .5rem;
background: #F3F0EB;
}
.offers-p{
width: 90%;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #555555;
}

.offers-heading{
width: 90%;
height: 208.01px;
left: 132px;
top: 100px;
font-family: 'Old Standard TT';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 64px;
letter-spacing: 0.05em;
color: #B58152;
}
.offers-img{
width: 10%;
height: 50%;
margin-top: 10%;

}
.reviews-div {
width: 90%;
height: 100%;
/* left: 79px; */
top: 2725px;
margin-top: 7%;
margin-bottom: 7%;
background: #D9D9D9;
border-radius: .5rem;

}
.reviews-card{
width: 90%;
height: 321px;
/* left: 518px; */
top: 2744px;
}

